<html>
    <head>
        <script src="../angular.min.js"></script>
        <script src="script.js"></script>
    </head>
    <body ng-app="mainModule">
        <div ng-controller="mainController"> 
	        <h3>1. Template</h3>
	        <div ngh-template-dir>
		        <string>To be replaced</string>
		        <div>This also will be replaced</div>
	        </div>

	        <h3>2. TemplateUrl</h3>
	        <div ngh-template-url-dir>
		        <strong>This will be replaced</strong>
		        <div>This also will be replaced</div>
	        </div>
	   </div>
    </body>
</html>